{% extends 'base.html' %}
{% block title %}Clinic Locator{% endblock %}

{% block head %}
<script src="/static/js/maps.js"></script>
    <script
        async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhNlRQ6y6ifxlPFtqAYFb5qPI29Ul_pgo&callback=initMap">
    </script>

{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a>Something goes here</a></li>
    <li><a>Something else goes here</a></li>
  </ul>

  <main>
    <section class="map">
      <div id="map"></div>
    </section>
  </main>
  
{% endblock %}