{% extends 'base.html' %}
{% block title %}Clinic Locator{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/css/maps.css"/>
<script src="static/js/maps.js"></script>


<script 
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtkAQdVxlPIJeGjfRUhYRizL35fLxm9V8&callback=initMap&libraries=places">
</script>

{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a>Something goes here</a></li>
    <li><a>Something else goes here</a></li>
  </ul>

<div id="map"></div>
<h2>Results</h2>
<ul id="places"></ul>
<button id="more">More results</button>


  
{% endblock %}