

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  background-image: url(./img/clay-banks-e6pK_snssSY-unsplash.jpg);
  background-position: center;
  opacity: 0.85;
  background-size: cover;
}

.navbar {
  background-color: #6d8ea0;
}

.app-name {
  color: #fafaff;
  display: flex;
  justify-content: flex-start;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #fafaff;
  text-align-last: left;
  font-family: 'Raleway', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.maps-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.googlemap {
  min-width: 350px;
  min-height: 300px;
  flex: 8 1;
  padding-bottom: 10px;
  padding-right: 20px;
  width: 100%;
}

.row {
  display: inline-flex;
}

.clinic-info {
  height: 50vw;
  width: 100%;
  min-width: 350px;
  min-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  flex: 1 auto;
  flex-basis: 35.71429vw;
  opacity: 1;
}

#pac-input {
    background-color: #fafaff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}


/* CLINIC INFO */
.clinic_information {
  color: #6d8ea0;
}

.clinic-name {
  font-weight: 500;
  color: #192a51;
  font-family: 'Raleway', sans-serif;
}

.phone {
  font-size: smaller;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

.address {
  font-size: smaller;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

.hours {
  font-size: smaller;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}

.website {
  color: #6d8ea0;
  font-family: 'Raleway', sans-serif;
}

fieldset {
  font-size: smaller;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  height: 271px auto;
  overflow-y: scroll;
}

li {
  padding: 10px;
  text-overflow: ellipsis;
  white-space: wrap;
  overflow: scroll;
}

li:nth-child(odd) {
  background-color: #fafaff;
}

.leave-review-btn {
  display: block;
  color: #fafaff;
  background-color: #6d8ea0;
  border-color: #6d8ea0;
  width: 100%;
}

.leave-review-btn:hover {
  color: #6d8ea0;
  background-color: #fafaff;
  border-color: #6d8ea0;
}

.leave-review-btn:focus {
  color: #6d8ea0;
  background-color: #fafaff;
  border-color: #6d8ea0;
}

.view-review-btn {
  display: block;
  color: #fafaff;
  background-color: #6d8ea0;
  border-color: #6d8ea0;
  width: 100%;
}