

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.maps-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vw;
  padding-top: 10px;
}

.googlemap {
  min-width: 350px;
  min-height: 300px;
  flex: 8 1;
  padding-bottom: 10px;
  padding-right: 20px;
  width: 100%;
}

.row {
  display: inline-flex;
}

.clinic-info {
  height: 50vw;
  width: 100%;
  min-width: 350px;
  min-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  flex: 1 auto;
  flex-basis: 35.71429vw;

}



#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

ul {
  /* list-style-type: none; */
  margin: 0;
  padding-left: 0px;
  /* height: 271px auto; */
  /* width: 500px; */
  /* overflow-y: scroll; */
}

li {
  /* background-color: #f1f1f1; */
  padding: 10px;
  /* text-overflow: ellipsis; */
  /* white-space: wrap; */
  overflow: scroll;
}

li:nth-child(odd) {
  background-color: #fafaff;
}

.leave-review-btn {
  display: block;
  color: #fafaff;
  background-color: #6d8ea0;
  border-color: #6d8ea0;
  width: 50%;
}

.view-review-btn {
    display: block;
    color: #fafaff;
    background-color: #6d8ea0;
    border-color: #6d8ea0;
    width: 50%;
}